.e-column-1,
.e-column-2,
.e-column-3,
.e-column-4,
.e-column-5,
.e-column-6,
.e-column-7,
.e-column-8,
.e-column-9,
.e-column-10,
.e-column-11,
.e-column-12,
.e-column-98 {
    position: relative;
}

.e-column-1 {
    width: 8.33333333333%;
}

.e-column-2 {
    width: 16.6666666667%;
}

.e-column-3 {
    width: 25%;
}

.e-column-4 {
    width: 33.333333333%;
}

.e-column-5 {
    width: 41.666666667%;
}

.e-column-6 {
    width: 50%;
}

.e-column-7 {
    width: 58.333333333%;
}

.e-column-8 {
    width: 66.666666667%;
}

.e-column-9 {
    width: 75%;
}

.e-column-10 {
    width: 83.333333333%;
}

.e-column-11 {
    width: 91.666666667%;
}

.e-column-12 {
    width: 100%;
}

.e-column-98 {
    width: 98%;
}

.e-column-offset-1 {
    margin-left: 8.33333333333%;
}

.e-column-offset-2 {
    margin-left: 16.6666666667%;
}

.e-column-offset-3 {
    margin-left: 25%;
}

.e-column-offset-4 {
    margin-left: 33.333333333%;
}

.e-column-offset-5 {
    margin-left: 41.666666667%;
}

.e-column-offset-6 {
    margin-left: 50%;
}

.e-column-offset-7 {
    margin-left: 58.333333333%;
}

.e-column-offset-8 {
    margin-left: 66.666666667%;
}

.e-column-offset-9 {
    margin-left: 75%;
}

.e-column-offset-10 {
    margin-left: 83.333333333%;
}

.e-column-offset-11 {
    margin-left: 91.666666667%;
}

.e-column-offset-12 {
    margin-left: 100%;
}

@media screen and (max-width: 544px) {
    .e-column-xs {
        width: 100%;
    }
    .e-column-xs__hidden {
        display: none;
    }
    .e-column-xs-1 {
        width: 8.33333333333%;
    }
    .e-column-xs-2 {
        width: 16.6666666667%;
    }
    .e-column-xs-3 {
        width: 25%;
    }
    .e-column-xs-4 {
        width: 33.333333333%;
    }
    .e-column-xs-5 {
        width: 41.666666667%;
    }
    .e-column-xs-6 {
        width: 50%;
    }
    .e-column-xs-7 {
        width: 58.333333333%;
    }
    .e-column-xs-8 {
        width: 66.666666667%;
    }
    .e-column-xs-9 {
        width: 75%;
    }
    .e-column-xs-10 {
        width: 83.333333333%;
    }
    .e-column-xs-11 {
        width: 91.666666667%;
    }
    .e-column-xs-12 {
        width: 100%;
    }
    .e-column-xs-98 {
        width: 98%;
    }
}

@media screen and (max-width: 767px) {
    .e-column-sm {
        width: 100% !important;
    }
    .e-column-sm__hidden {
        display: none !important;
    }
}

@media screen and (max-width: 1000px) {
    .e-column-md {
        width: 100% !important;
    }
    .e-column-md__hidden {
        display: none !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .e-column-md-1 {
        width: 8.33333333333%;
    }
    .e-column-md-2 {
        width: 16.6666666667%;
    }
    .e-column-md-3 {
        width: 25%;
    }
    .e-column-md-4 {
        width: 33.333333333%;
    }
    .e-column-md-5 {
        width: 41.666666667%;
    }
    .e-column-md-6 {
        width: 50%;
    }
    .e-column-md-7 {
        width: 58.333333333%;
    }
    .e-column-md-8 {
        width: 66.666666667%;
    }
    .e-column-md-9 {
        width: 75%;
    }
    .e-column-md-10 {
        width: 83.333333333%;
    }
    .e-column-md-11 {
        width: 91.666666667%;
    }
    .e-column-md-12 {
        width: 100%;
    }
    .e-column-md-98 {
        width: 98%;
    }
}
