.c-group-link {
    min-height: 200px;
}

.c-link-redesSociais .c-link-i {
    margin-right: 5px;
    font-size: 3em;
}

.c-link-redesSociais .c-link-h4 {
    font-size: 1em;
}

.c-link-termo-adesao {
    text-shadow: none !important;
    text-decoration: underline;
}
